* {
	box-sizing: border-box;
	--color-inge: #6cffdc;
	--color-hipster: #ff9e5a;
	--color-hacker: #ff4bfe;
	--color-ancien: #f1f19d;
}
body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: black;
	--font-main: 'Fjalla One', sans-serif;
	--font-body: 'Space Mono', monospace;
}
